.App-logo {
  height: 80px;
  pointer-events: none;
  
  @include media-query($small){
    height: 60px;
  }
}

.App-header {
  display: grid;
  align-items: start;
  justify-items: start;
  justify-content: stretch;
  padding-top: 15px;
  grid-template-columns: auto 1fr;

  nav {
    justify-self: stretch;
    display: grid;
    grid-template-rows: auto 1fr;
    align-content: end;
    align-self: stretch;

    ul {
      list-style: none;
      display: grid;
      grid-template-columns: auto auto;
      margin: 0;
      justify-content: end;
      align-content: end;
      grid-gap: 10px;
      
      @include media-query($small){
        justify-content: center;
        padding-left:0;
        margin-bottom: 10px;
      }

      li > a {
        text-decoration: none;
        font-size: 1.7rem;
        color: black;

        &.active {
          font-weight: bold;
          border-bottom: 2px solid black;
        }

        &:hover {
          color: lighten(black, 45%);
          border-bottom-color: lighten(black, 45%);
        }
        
        @include media-query($small){
          font-size: 1.4rem;
          margin-right:40px;
        
        }
      }
    }
  }

  .header--title {
    text-align: center;
    padding-right: 80px;
    
    @include media-query($small){
      font-size: 1.7rem;
      margin-bottom: 20px;
      font-weight: bold;
    }
  }
}