.leaderboard {
  display: grid;
  grid-template-columns: auto repeat(11, 1fr);
  margin: 15px 5%;
  border-radius: 1px;
  background-color: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  max-width: 1000px;
  text-align: center;

  .leaderboard__header--rounds {
    font-weight: bold;
    display: none;
    font-size: 1.6rem;
  }

  .leaderboard__team,
  .leaderboard__header {
    font-weight: bold;
  }

  span {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 7px;
  }

  @include media-query($small) {
    font-size: 1.5rem;
    grid-template-columns: repeat(11, 1fr);
    justify-content: center;

    .leaderboard__team {
      grid-column-start: 1;
      grid-column-end: 12;
      text-align: center;
    }

    .leaderboard__header--team {
      display: none;
    }

    .leaderboard__header--rounds {
      grid-column-start: 1;
      grid-column-end: 12;
      display: block;
      text-align: center;
    }
  }
}
