.round-wrapper {
  background-color: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  details {
    border-radius: 2px;
    margin-top: 15px;
    &:hover {
      cursor: pointer;
    }
  }

  summary {
    padding: 20px 10px;
    position: relative;

    .summary--title {
      font-weight: bold;
    }

    .summary--info {
      font-style: italic;
      font-size: 1.4rem;

      @include media-query($small) {
        font-size: 1.2rem;
      }
    }
  }
  summary::-webkit-details-marker {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 1.4rem;
  }

  .questions {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .question--instructions {
    list-style: none;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;

    .reveal {
      grid-area: 1/2/2/3;
    }
  }

  .question--header {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
  }

  .answer--header {
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding-left: 0;

    @include media-query($small) {
      display: none;
    }
  }

  .question-wrapper {
    font-size: 1.4rem;
    border-bottom: 1px solid grey;
    list-style: none;
    padding: 5px 10px;

    &:first-child {
      border-top: 1px solid grey;
    }

    p {
      display: grid;
      grid-template-columns: 2fr 1fr;

      @include media-query($small) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
      }
    }
    .question {
      border-right: 1px solid grey;

      @include media-query($small) {
        border-right: none;
      }
    }

    .answer {
      padding-left: 50px;

      &.spoiler {
        -webkit-filter: blure(5px);
        filter: blur(5px);
      }

      &.answer--header {
        padding-left: 0;
      }
    }

    .answer--input {
      padding: 0;

      .Polaris-TextField__Input--answer & {
        padding: 0;
      }
    }
  }

  .answer-form__submit--wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
    
    button {
      font-size: 1.4rem
    }
    
    @include media-query($small) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
      
      input, button {
        justify-self: center;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }

  .answer-form__submit--header {
    grid-area: 1/1/2/3;
    justify-self: center;
    
    @include media-query($small) {
      grid-area: unset;
      display: none;
    }
  }
}
