@import 'partials/_mediaQueries.scss';
@import 'partials/_polaris.scss';
@import 'partials/_header';
@import 'partials/_leaderBoard';
@import 'partials/_questions';

:root {
  --main-bg-color: #e88131;
  --main-bg-color: #efefef;
}

.h3 {
  font-size: 2.5rem;
  margin: 0;
}

.App {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  width: 100vw;
}

.App-inner {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-rows: auto 1fr 100px;
  justify-content: center;
  grid-template-columns: 1fr;
  max-width: 1050px;
  width: 90%;
  padding: 0 5%;
  margin: 0 auto;
}

.App-link {
  color: var(--main-bg-color);
}

.quiz-wrapper {
  justify-content: center;
  align-content: center;
  margin: 0 0 15%;
  font-size: 1.2em;
}


.footer-disclaimer {
  color: #0abab5;
  filter: brightness(80%);
}
