:root {
  --main-bg-color: #e88131;
  --main-bg-color: #0abab5;
}

.App {
  text-align: center;
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-rows: 200px 1fr 100px;
  min-height: 100vh;
}

.App-logo {
  height: auto;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 200px;
}

.App-link {
  color: var(--main-bg-color);
}

.fact-text {
  color: white;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 10% 15%;
  font-size: 1.5em;
}

.psl-timer__wrapper {
  color: white;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 10% 15%;
  font-size: 1.5em;
}

.psl-timer__wrapper img {
  margin: 0 auto;
}

.psl-timer {
  min-width: 300px;
}
.footer-disclaimer {
  color: #0abab5;
  filter: brightness(80%);
}
